#footer-wrap
  #footer-lf-corner
  #footer-content-wrap
    #footer-content-bottom
      %h4= "POS NATION  A Division of Crimson Solutions LLC &copy; 2012 POS NATION. All rights reserved.".html_safe
      %p= "Home Office - 8701 Red Oak Blvd, Suite 100"
      %p= "Charlotte, NC 28217"
      %p= "Mon-Fri 8am-8pm EST"
      %p= "Sales (877) 727-3548"
      %p= "Support (888) 851-6536"
  #footer-rt-corner
