
- if @organization.projects.unarchived.any?
  %h3= t('.title')
  .projects
    - @organization.projects.unarchived.each do |project|
      - role = @people.detect { |p| p.project_id == project.id }.try(:role)
      - if role
        %p.project
          - if @roles[role] == 'admin'
            %img{:src => "/images/plus.png", :style => 'width: 20px; height: 20px; cursor: pointer; vertical-align: bottom;margin-right: 14px;' }
          = link_to h(project), project
          %span.status
            = t('.role_html', :role => @roles[role])
        
        - if @roles[role] == 'admin'
          %p.projects_inner{:style => "margin-left: 61px;display:none;"}
            =raw "" + link_to("Project Settings", edit_project_path(project)) + ""
            %br
            =raw "" + link_to("People & Permissions", project_people_path(project)) + ""	
            %br
            = link_to t('shared.project_settings_navigation.deletion'), project_deletion_path(project.permalink, :sub_action => 'deletion')
            %br
            = link_to t('shared.project_settings_navigation.general'), project_settings_path(project.permalink)
      - elsif can?(:admin, @organization)
        / %p.project
        /   = link_to h(project), project
        /   %span.status= t('.dont_belong')
- else
  %p= t('.no_active_projects')