/ .custom_html
/   = @organization.description.try(:html_safe) || "Configure this text by going editing your organization's preferences."

- content_for :column do
  %style{:media => "screen", :type => "text/css"}
    \div.wrapper{
    background-color:transparent !important;
    }
  #wide
    .login-box
      %h2 Account Login
      .login-form-box
        = form_tag sites_path, :class => 'new_session', :id => 'login' do
          = hidden_field_tag :id, @organization.permalink
          = upgrade_browser
          = chrome_frame
          = render 'sites/fields'
          / %div{:style => "float:left;width:200px;font-size: 11px; margin: 10px;"}= link_to t('sessions.fields.forgot'), forgot_password_path, :tabindex => 203
          %div
            = submit_tag t('.submit'), :class => 'button1 fr'
          = chrome_frame
