!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %title="LogicXL Project Manager"
    = include_stylesheets :application
    = sprockets_include_tag :public

  %body{ :class => "#{location_name} #{I18n.locale} #{Rails.env}"}
    #shell
      #top-bar
      #body-content
        = link_to image_tag('lx-logo.png', :alt => 'LogicXL Project Manager', :size => "201x30"), projects_path, :class => 'lx-logo'
      - show_flash
      #wide
        #container.container{:style => "margin-left: 196px; min-height: 650px;width: auto;min-height:556px;margin-top: 136px;"}
          .login-box
            %h2
              = yield :column
            .login-form-box
              = yield
      #container.container{:style => "margin-left: 196px; min-height: 650px;width: auto;min-height:556px;margin-top: 136px;"}
        .wrapper
          .view_sidebar
            = yield :column
    = footer