!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/posnation.ico" }
    %title="POS Nation Projects"
    = include_stylesheets :application
    = javascript_include_tag 'jquery', 'custom'
    = sprockets_include_tag :public

  %body{ :class => "#{location_name} #{I18n.locale} #{Rails.env}"}
    .shell
      
      #header{:style => "height: 168px;"}
        = link_to image_tag('pos-logo-new.jpg', :alt => 'POS Nation Project Manager', :id => 'logo'), projects_path
      - show_flash
      #container.container{:style => "margin-left: 196px; min-height: 650px;width: auto;min-height:556px;"}
        .wrapper
          
          .view_sidebar
            = yield :column
    = footer

